.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}


/* ---------------PEPA-------------------------------*/
.header{
	color:#9bd16f;
	height:100px;
	background-color:#ad33ff;
}

.logo{
	float:left;
	width:100px;
	height:100px;

}

.head{

}

.naslov{
	
	margin:0;
	padding:0;
}

.menu {
	margin: 20px 0 10px 5px;
	clear: right;
	float: left;
}

.menulist {
	margin: 0;
	text-align: left;
}
.menulist li {
	display: inline;
	list-style-type: none;
	vertical-align: middle;
	padding: 0 14px;
	
}

.menu a:link, a:visited {
	color: #9bd16f;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	transition: 0.5s color;
	letter-spacing: 1px;
}

.menu a:hover, a:active {
	color:  white;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	transition: 0.5s color;
	letter-spacing: 1px;
}