.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}


/* ---------------PEPA-------------------------------*/
.container{
	width:90%;  
}

.header{
	color:#7a061d;
	height:110px;
	background: linear-gradient(to bottom right, #214750, #7e8c8d);
}

.logo{
	float:left;
	width:80px;
	height:80px;
	margin:10px;
}

.naslov{
	margin:0;
	padding:10px 0;
}

.naslov h1{
	margin:0;
	padding:0;
}

.menu {
	margin: 10px 0 0 50px;  
	clear: right;
	float: left;
}

.login{
	float:right;
	width: 200px;
}

.menulist {
	margin: 0;
	text-align: left;
}
.menulist li {
	display: inline;
	list-style-type: none;
	vertical-align: middle;
	padding: 0 14px;
	
}

.menu a:link, a:visited {
	color: #7a061d;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	transition: 0.5s color;
	letter-spacing: 1px;
}

.menu a:hover, a:active {
	color:  white;
/*	font-size: 24px;  */
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	transition: 0.5s color;
	letter-spacing: 1px;
}

.izlaz-btn{
	right: 150px;
    top: 150px;
	position:fixed;  
}

.center{
	text-align: center;
}

.awesomplete{
	text-align:left;
}

.paper{
	background: white;
	width: 21cm;
	height: 29.7cm;
	display: block;
	padding: 0.5cm 1cm 0 1.3cm;
	margin: 50px auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	font-family: "Times New Roman", Times, serif;
}

.container-left{
	width: 17.6cm;   
	float:left;
}

.main-container{
/*	padding:10px 5px 0 5px;  */
}

.sidebar{
	float: left;
	margin-top:280px;
	width:30px;
	height:15cm;  
}

.vertical-text{
	font-size: 12px;
	width:15cm;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
	transform: rotate(-90deg); 
	-ms-transform-origin: 260px 580px; /* IE 9 */
	-webkit-transform-origin: 60% 40%; /* Safari 3-8 */
	transform-origin: 260px 260px;  
}

.row{
	padding:0 20px 3px 20px;  
}

input[type=checkbox] {
  transform: scale(1.3);
}

input[type=text] {
  height: 16px;
}

input[type=date] {
  height: 16px;
}

.border1{
	border-style: solid;
	border-width: 1px;
	padding: 3px 0 3px 10px;
	margin: 3px 20px 6px 20px;
}

.border{
	margin-bottom:10px;
	border-style: solid;
	border-width: 2px;
}

.border-bottom{
	display: inline-block;
	border-bottom-style: dotted;
	border-width: 2px;
}

.border-bottom1{
	display: inline-block;
	border-bottom-style: solid;
	border-width: 2px;
}

.bottom{
	clear: both;
}

#kategorija{
	margin-top: 50px;
}


.float-left{
	float: left;
}

.right{
	float: right;
}

#print{
	background-color: #214750;
	color: white;
}

@media print {
	
	@page {
		size: auto;   /* auto is the initial value */
		margin: 0;  /* this affects the margin in the printer settings */
	}
	
	input{
		border: 0px;
		background-color:white;
	}
	
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
		border: 0px;
	}

	
	.header{
		display:none;
	}
	 
	.footer{
		display:none;
	}
	
	#print{
		display:none;
	}

}
