@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Josefin+Sans:400,700|PT+Sans|Poiret+One|Raleway:400,700,900|Slabo+27px|Titillium+Web:400,700&subset=latin-ext');

/*

font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Poiret One', cursive;

*/



body{
	margin:0;
	padding: 0;
	font-family: 'Lucida Sans Unicode', sans-serif;
	background: linear-gradient(to bottom right, #d3f8b4, #effee2, #d3f8b4);
}

.wrapper{
	
	width:90%;
	min-height:700px;
	margin: 0 auto;
	padding: 0;
	overflow: auto; 
	/* padding-bottom:30px; */
}

.header{
	margin: 0 auto;
	height:100px;
	width: 100%;
	background: linear-gradient(#262626, #3c3c3c, #262626);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.logo {
	float: left;
	margin-top: 10px;
}

.logo img {
	width: 80px;
	height: 80px;
}

.centerText{
	text-align:center;
	margin:20% 0;
}

legend {
	font-family: 'Raleway', sans-serif;
}

#logg{
	padding:10px 15px 0 0;
	width:350px;
	color: white;
	float:right;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: right;
}

.menu {
	margin: 20px 0 10px 5px;
	clear: right;
	float: left;
}

.menulist {
	margin: 0;
	text-align: left;
}
.menulist li {
	display: inline;
	list-style-type: none;
	vertical-align: middle;
	padding: 0 14px;
	
}

.menu a:link, a:visited {
	color: #9bd16f;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	transition: 0.5s color;
	letter-spacing: 1px;
}

.menu a:hover, a:active {
	color:  white;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	transition: 0.5s color;
	letter-spacing: 1px;
}


#logo {
	margin:auto;
}

.head{
	font-size:14px;
}

.lista{
	margin:50px;
}

 
 .rows{
    border: 1px solid black;
	padding:10px;
 }
 
 td{
	 margin:10px;
 }


.footer{
	clear: both;
	margin: 80px auto 0 auto;
	height: 40px;
	width: 90%;
	background: linear-gradient(#262626, #3c3c3c, #262626);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-family:'Alegreya Sans', sans-serif; 
	font-size: 16px;

}

.footer a:link, a:visited {
	color: #9bd16f;
	font-size: 16px;
	text-decoration: none;
	transition: 0.5s color;
	font-family:'Alegreya Sans', sans-serif;
}

.footer a:hover, a:active {
	color:  white;
	font-size: 16px;
	text-decoration: none;
	transition: 0.5s color;
	font-family:'Alegreya Sans', sans-serif;
}
